*.exe
*.bkp
*.dtmp
*.stackdump
*.exe
/Java/CSDL/build/
/Java/CSDL/dist/
VueJS/my-project/node_modules
/NodeJS/NODEJS-LAB01/node_modules
/NodeJS/NODEJS-LAB02/node_modules
/NodeJS/study/node_modules
/NodeJS/lib-project/node_modules
/NodeJS/NODEJS-LAB05/node_modules
/NodeJS/NODEJS-LAB06/node_modules
/NodeJS/study/employee-project/node_modules
/NodeJS/study/emp_demo/node_modules
/NodeJS/NODEJS-LAB08/node_modules
