extends layouts/layout
block main
    div(class="d-flex align-items-center justify-content-center vh-100 bg-light")
      div(class="text-center")
        h1(class="display-1 font-weight-bold text-dark mb-4") 404
        p(class="h4 text-muted mb-4") Trang bạn tìm kiếm không tồn tại
        a(href="/" class="btn btn-primary") Go back to Home