<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-ms-12">
            <h1>Student List</h1>
            <hr>
            <a th:href="${/student-form}">
                <button class="btn btn-primary"><i class="fa-solid fa-plus"></i>Thêm mới</button>
            </a>
            <table class="table ">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Last name</th>
                    <th scope="col">First name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student:${students}">
                    <th scope="row" th:text="${student.id}"></th>
                    <td th:text="${student.last_name}"></td>
                    <td th:text="${student.first_name}"></td>
                    <td th:text="${student.email}"></td>
                    <td><i class="fa-solid fa-file-pen text-success"></i></td>
                    <td><i class="fa-solid fa-trash-can text-danger"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>