footer.bg-dark.text-white.py-4
    .container
        .row
            .col-md-12.text-center
                p &copy; #{new Date().getFullYear()} Your Company Name. All rights reserved.
                ul.list-inline
                    li.list-inline-item
                        a.text-white(href='/about') About Us
                    li.list-inline-item
                        a.text-white(href='/contact') Contact Us
                    li.list-inline-item
                        a.text-white(href='/privacy') Privacy Policy
                    li.list-inline-item
                        a.text-white(href='/terms') Terms of Service
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")