.menu-2 {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.menu-item-new {
  margin: 5px; 
}

:root {
  --text-color: rgb(255, 255, 255);
  --shadow-color: hsla(210, 34%, 57%, 0.4);
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}

* {
  box-sizing: border-box;
}

.menu-item-new button {
  position:relative;
  padding: 10px 20px;  
  border: none;
  background: none;
  cursor: pointer;
  
  font-family: 'Times New Roman', Times, serif; 
  font-weight: 500;
  font-size: 16px;  
  color: var(--text-color);
  
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px; 
  z-index: 0;  
  overflow: hidden;   
}

.menu-item-new button:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.menu-item-new .right::after, .menu-item-new button::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events:none;
}

.menu-item-new button::after{
  font-family: 'Times New Roman', Times, serif; 
  font-weight: 500;
  top: -30px;
  left: -20px;
} 

.menu-item-new .right, .menu-item-new .left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.menu-item-new .right {
  left: 66%;
}
.menu-item-new .left {
  right: 66%;
}
.menu-item-new .right::after {
  top: -30px;
  left: calc(-66% - 20px);
  
  background-color: var(--bg-color);
  color:transparent;
  transition: transform .4s ease-out;
  transform: translate(0, -90%) rotate(0deg)
}

.menu-item-new button:hover .right::after {
  transform: translate(0, -47%) rotate(0deg)
}

.menu-item-new button .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg)
}

.menu-item-new button .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg)
}

.menu-item-new button::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}