<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Information</title>
    <link rel="stylesheet" th:href="@{/css/main01.css}">
</head>
<body>
<h1>Customer Information</h1>

<p><strong>Name of Company:</strong> <span th:text="${customer.getNameOfCompany()}"></span></p>

<h2>Full Postal Address:</h2>
<p><strong>Street Address:</strong> <span th:text="${customer.getStreetAddress()}"></span></p>
<p><strong>City:</strong> <span th:text="${customer.getCity()}"></span></p>
<p><strong>Region:</strong> <span th:text="${customer.getRegion()}"></span></p>
<p><strong>Postal / Zip Code:</strong> <span th:text="${customer.getPostalCode()}"></span></p>
<p><strong>Country:</strong> <span th:text="${customer.getCountry()}"></span></p>

</body>
</html>
